/* login and signup form  */

#formSection {
    position: absolute;
    top: 0;
    background-color: var(--themeBgColor);
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

#mainCard {
    border-radius: 2rem;
    height: 85%;
    width: 85%;
    background-color: var(--themeBgColor);
    display: flex;
    filter: drop-shadow(24px 21px 22px rgb(156, 146, 146));
}

#openPopup {
    position: absolute;
    right: 0;
    top: 12%;
    height: 6vh;
    width: auto;
}

#openPopup button {
    font-weight: bold;
    color: var(--textColor);
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    border: 2px solid var(--themeColor);
    width: 9vw;
    border-right: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transition: all .3s linear;
}

#openPopup button:hover {
    background-color: var(--textColor);
    color: var(--themeBgColor);
    border: none;
    width: 10vw;
}

#closeForm {
    position: absolute;
    right: 2%;
    color: var(--textColor);
    font-size: 3.5rem;
    font-weight: bold;
    transform: rotate(45deg);
    cursor: pointer;
}

#image {
    border-radius: 2rem;
    height: 100%;
    width: 55%;
    background: url(../img/formCover.jpg);
    filter: drop-shadow(11px 8px 14px #848484);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#forms {
    height: 100%;
    width: 45%;
    background-color: transparent;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formToggleBtn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
}

#formToggleBtn button {
    width: 50%;
    background: transparent;
    border: none;
    height: 6vh;
    cursor: pointer;
    color: var(--themeColor);
    transition: all .4s linear;
}

#formToggleBtn button label {
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

#formToggleBtn button:nth-child(2) {
    color: var(--themeBgColor);
}

#formBtnToggle {
    display: none;
}

#toggleSwitch {
    position: absolute;
    height: 6vh;
    width: 50%;
    left: 0;
    background-color: var(--themeColor);
    border-radius: 2rem;
    z-index: -1;
    transition: all .4s linear;
}

#signupTgl:checked~#formToggleBtn #toggleSwitch {
    left: 50%;
}

#signupTgl:checked~#formToggleBtn button:nth-child(2) {
    color: var(--themeColor);
}

#signupTgl:checked~#formToggleBtn button:nth-child(3) {
    color: var(--themeBgColor);
}

.toggleForm {
    display: none;
}

#flipForm {
    position: relative;
    width: 82%;
    height: 70%;
    display: flex;
    margin-top: 3%;
    transform-style: preserve-3d;
    transition: all .4s linear;
}

#signupTgl:checked~#flipForm {
    transform: rotateY(180deg);
}

#frontcard {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

#backcard {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

.formHead {
    width: auto;
    padding: 3%;
}

.formHead p {
    font-size: 2vw;
    cursor: default;
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
}

.social-icon {
    justify-content: space-evenly;
    display: flex;
    height: auto;
    width: 45%;
}

.social-icon i {
    font-size: 1.6rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50%;
    color: var(--textColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 3vw;
    transition: all .2s linear;
}

.social-icon i:hover {
    transform: translateY(-5px);
    color: var(--themeColor);
    border-color: var(--themeColor);
}

#loginForm {
    height: auto;
    width: 85%;
    padding: 5%;
    margin-top: 1.7em;
}

.inputs {
    border-radius: 2vw;
    filter: drop-shadow(6px 23px 2.9rem grey);
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin-bottom: 1rem;
    height: auto;
    padding: 2% 4%;
    transition: all .1s linear;
}


.inputs label i {
    color: var(--textColor);
    width: 10%;
}

.inputs label i:hover {
    color: var(--themeColor);
}

.inputFields {
    color: var(--textColor);
    border: none;
    background: transparent;
    outline: none;
    width: 85%;
    font-weight: bold;
}



.sub-Btns {
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-sub-btn {
    width: 63%;
    height: 6vh;
    border-radius: 2rem;
    background-color: var(--themeColor);
    border: none;
    color: var(--themeBgColor);
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .1s linear;
}

.form-sub-btn:hover {
    background-color: var(--textColor);
}

#signupForm {
    height: auto;
    width: 85%;
    padding: 3%;
}