/*
*    DEVELOPERS :-
*    © SAYANDEEP KARAK    © sayandeep18.webdev@gmail.com    https://github.com/fuchu2003
*    © ARNAB KUMAR DAS    © electroarnab2001@gmail.com    https://github.com/akd2001
*/

@media only screen and (max-width: 1320px) {
    html {
        font-size: 90%;
    }

    #slide-switch-left {
        left: 4.5vw;
    }

    #slide-switch-right {
        right: 4.5vw;
    }
}

@media only screen and (max-width: 1260px) {
    .social-icon i {
        width: 3.5vw;
    }
    #frontcard {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 1200px) {
    .btn-nav-all {
        width: 7.5vw;
    }

    #navbar ul li {
        height: 40px;
    }

    #slide-switch-left {
        left: 3.3vw;
    }

    #slide-switch-right {
        right: 3.3vw;
    }
}

@media only screen and (max-width: 1120px) {
    #slider {
        height: 60vh;
    }
}

@media only screen and (max-width: 1070px) {

    .social-icon {
        width: 54%;
    }

    #slider {
        height: 72vh;
    }

    .slideSwitch {
        font-size: x-large;
    }

    .social-icon i {
        width: 3.8vw;
    }

    #loginForm {
        width: 93%;
    }

    #signupForm {
        width: 93%;
    }
}

@media only screen and (max-width: 1024px) {

    html {
        font-size: 76%;
    }

}



@media only screen and (max-width: 850px) {


    .social-icon i {
        width: 4.1vw;
    }

}



@media only screen and (max-width: 900px) {

    #navbar {
        background-color: var(--themeBgColor);
        display: flex;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-top: 3rem;
        top: 9vh;
        left: 0;
        height: 91vh;
        width: 30%;
        transition: all .3s linear;
        transform: translateX(-800px);
        margin-left: 0;
    }

    #navbar ul {
        width: auto;
        flex-direction: column;
    }

    #navbar ul li {
        height: 5vw;
        justify-content: flex-start;
        width: 27vw;
    }

    #button {
        margin-top: 9%;
        width: 27vw;
        height: auto;
        flex-direction: column;
    }

    .btn-nav-all {
        width: 60%;
        height: 44px;
        margin: 4px;
        background-color: var(--textColor);
    }

    #menuBarToggleCheck {
        display: flex;
    }

    #menuBarToggle:checked~header #navbar {
        transform: translateX(0px);
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .top {
        transform: rotate(-135deg);
        position: relative;
        top: 21%;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .middle {
        opacity: 0;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .bottom {
        transform: rotate(135deg);
        position: relative;
        bottom: 21%;
    }

    #image {
        position: absolute;
        width: 100%;
        filter: blur(2px);
    }

    #forms {
        position: absolute;
        width: 100%;
    }

    #toggleSwitch {
        z-index: 1;
    }

    #formToggleBtn button {
        z-index: 1;
    }

    #formToggleBtn button label {
        font-size: 2.3vw;
    }

    #frontcard {
        margin-top: 5%;
        padding: 0;
    }

    .formHead p {
        font-size: 2.5vw;
        color: var(--themeBgColor);
    }

    .social-icon {
        width: 40%;
    }

    #loginForm {
        width: 74%;
        margin-top: .7rem;
    }

    #signupForm {
        width: 74%;
    }

    .social-icon i {
        width: 5.4vw;
        color: var(--themeBgColor);
    }

    .social-icon i {
        width: 5.4vw;
        color: var(--themeBgColor);
    }

    #closeForm {
        z-index: 1;
        font-size: 4.2rem;
    }

    .inputs label i {
        font-size: 1.5rem;
    }

    #slider {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 700px) {
    #menuBarToggle:checked~header #menuBarToggleCheck .top {
        top: 19%;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .bottom {
        bottom: 21%;
    }

    .social-icon i {
        width: 6.9vw;
    }

    #openPopup button {
        width: 22vw;
        font-size: 1.5rem;
    }

    #openPopup button:hover {
        width: 24vw;
    }


    #loginForm {
        width: 80%;
    }

    #signupForm {
        width: 80%;
    }

    .inputs {
        border-radius: 3vw;
    }
}

@media only screen and (max-width: 600px) {

    html {
        font-size: 62%;
    }

    #closeForm {
        right: 4%;
    }

    #navbar {
        padding-left: 0;
        padding-top: 0;
        position: fixed;
        bottom: 1rem;
        top: initial;
        height: auto;
        width: 100%;
        transform: initial;
        justify-content: center;
        background: transparent;
    }

    #navbar ul {
        background-color: var(--themeBgColor);
        width: 90%;
        height: 70px;
        align-items: center;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        box-shadow: -2px 9px 21px -5px rgba(105, 105, 105, 1);
        flex-direction: row;
    }

    #navbar ul li:nth-child(1) {
        border-bottom-left-radius: 10vw;
    }

    #navbar ul li:nth-child(5) {
        border-bottom-right-radius: 10vw;
    }

    #navbar ul li {
        justify-content: center;
        width: 27vw;
        flex-direction: column;
    }

    #navbar ul li i {
        font-size: 1.9rem;
    }

    #navbar ul li a span {
        display: none;
    }

    #navbar ul li.active span {
        display: block;
        margin-top: 5%;
    }

    #navbar ul li.active {
        background-color: transparent;
        filter: initial;
    }

    #navbar ul li.active i,
    #navbar ul li.active a {
        letter-spacing: 0;
        font-size: 1.5rem;
        color: var(--themeColor);
    }


    #navbar ul li:hover::after {
        width: 0;
    }

    #button {
        margin-top: 0;
        position: relative;
        bottom: 4vh;
    }

    #uploadBtn {
        clip-path: circle();
        width: 18vw;
        height: 71.91px;
        font-size: 1.9rem;
        background-color: var(--textColor);
    }

    #uploadBtn span {
        display: none;
    }

    #openpopBtn {
        width: 20%;
        font-size: 1.3rem;
        background-color: var(--themeColor);
    }

    #menuBarToggleCheck {
        display: none;
    }

    #formToggleBtn button label {
        font-size: 2.9vw;
    }

    .formHead p {
        font-size: 3.5vw;
    }

    #loginForm {
        margin-top: 2.7rem;
    }

    .form-sub-btn {
        font-size: 1.5rem;
    }

    .inputs {
        padding: 4% 4%;
        border-radius: 4vw;
    }

    #loginForm {
        width: 90%;
    }

    #signupForm {
        width: 90%;
    }

}

@media only screen and (max-width: 541px) {

    .social-icon i {
        width: 8.2vw;
    }

    #formToggleBtn button label {
        font-size: 3.3vw;
    }

    #mainCard {
        height: 76%;
    }

    #toggleSwitch {
        border-radius: 5rem;
    }

}

@media only screen and (max-width: 454px) {
    #loginForm {
        width: 95%;
    }

    #signupForm {
        width: 95%;
    }

    .social-icon i {
        width: 8.9vw;
    }

    .social-icon {
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 58%;
    }

    #openpopBtn {
        height: 40px;
        width: 21%;
        border-radius: .8rem;
    }
}

@media only screen and (max-width: 408px) {

    #toggleSwitch {
        border-radius: 4rem;
    }

    #formToggleBtn button label {
        font-size: 4.3vw;
    }

    .formHead p {
        font-size: 4.1vw;
    }

    #formToggleBtn {
        width: 77%;
    }

    .social-icon i {
        width: 10.9vw;
        font-size: 2.2rem;
    }

    .social-icon {
        width: 60%;
    }

    #loginForm {
        width: 100%;
    }

    #signupForm {
        width: 100%;
    }

    .inputs {
        border-radius: 5vw;
    }

    .form-sub-btn {
        border-radius: 3rem;
    }
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 52%;
    }

    #toggleSwitch {
        height: 6.2vh;
    }

    .social-icon i {
        width: 10.9vw;
    }

    .form-sub-btn {
        border-radius: 3rem;
    }
}




@media only screen and (max-width: 320px) {
    html {
        font-size: 45%;
    }
}