/*
*    DEVELOPERS :-
*    © SAYANDEEP KARAK    © sayandeep18.webdev@gmail.com    https://github.com/fuchu2003
*    © ARNAB KUMAR DAS    © electroarnab2001@gmail.com    https://github.com/akd2001
*/

@media only screen and (max-width: 1320px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width: 1024px) {

    html {
        font-size: 76%;
    }

}

@media only screen and (max-width: 900px) {

    #navbar {
        background-color: var(--themeBgColor);
        display: flex;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 1rem;
        padding-top: 3rem;
        top: 9vh;
        left: 0;
        height: 91vh;
        width: 30%;
        transition: all .3s linear;
        transform: translateX(-800px);
    }

    #navbar ul {
        width: auto;
        flex-direction: column;
    }

    #navbar ul li {
        height: 5vw;
        justify-content: flex-start;
        width: 27vw;
    }

    #button {
        margin-top: 9%;
        width: 27vw;
        height: auto;
    }

    #uploadBtn {
        width: 50%;
        height: 5vw;
    }

    #menuBarToggleCheck {
        display: flex;
    }

    #menuBarToggle:checked~header #navbar {
        transform: translateX(0px);
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .top {
        transform: rotate(-135deg);
        position: relative;
        top: 21%;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .middle {
        opacity: 0;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .bottom {
        transform: rotate(135deg);
        position: relative;
        bottom: 21%;
    }
}

@media only screen and (max-width: 700px) {
    #menuBarToggle:checked~header #menuBarToggleCheck .top {
        top: 19%;
    }

    #menuBarToggle:checked~header #menuBarToggleCheck .bottom {
        bottom: 21%;
    }
}

@media only screen and (max-width: 600px) {

    html {
        font-size: 62%;
    }

    #navbar {
        padding-left: 0;
        padding-top: 0;
        position: fixed;
        bottom: 1rem;
        top: initial;
        height: auto;
        width: 100%;
        transform: initial;
        justify-content: center;
        background: transparent;
    }

    #navbar ul {
        background-color: var(--themeBgColor);
        width: 90%;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        box-shadow: -2px 9px 21px -5px rgba(105, 105, 105, 1);
        flex-direction: row;
    }

    #navbar ul li:nth-child(1){
        border-bottom-left-radius: 10vw;
    }

    #navbar ul li:nth-child(5){
        border-bottom-right-radius: 10vw;
    }

    #navbar ul li {
        height: 9vh;
        justify-content: center;
        width: 27vw;
        flex-direction: column;
    }

    #navbar ul li i {
        font-size: 1.9rem;
    }

    #navbar ul li a span {
        display: none;
    }

    #navbar ul li.active span{
        display: block;
        margin-top: 5%;
    }

    #navbar ul li.active {
        background-color: transparent;
        filter: initial;
    }

    #navbar ul li.active i, #navbar ul li.active a {
        letter-spacing: 0;
        font-size: 1.5rem;
        color: var(--themeColor);
    }
    

    #navbar ul li:hover::after {
        width: 0;
    }

    #button {
        margin-top: 0;
        position: relative;
        bottom: 4vh;
    }

    #uploadBtn {
        clip-path: circle();
        width: 18vw;
        height: 9vh;
        font-size: 1.9rem;
        background-color: var(--textColor);
    }

    #uploadBtn span {
        display: none;
    }

    #menuBarToggleCheck {
        display: none;
    }


}

@media only screen and (max-width: 425px) {
    html{
        font-size: 58%;
    }
}

@media only screen and (max-width: 375px) {
    html{
        font-size: 52%;
    }
}


@media only screen and (max-width: 320px) {
    html{
        font-size: 45%;
    }
}