#home {
    display: flex;
    height: 91vh;
}

#silder {
    height: auto;
    width: auto;
    border: 10px solid var(--textColor);
    filter: drop-shadow(3px 3px 10px #34373b);
    border-radius: 15px;
    display: flex;
    justify-content: center;
} 

.items {
    height: 100%;
    display: none;
    justify-content: center;
    transition: all .5s ease-in;
}

.items.active {
    display: flex;
}

.items img{
    max-height: 75vh;
    height: auto;
    width: 100%;
}

.slideSwitch {
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: var(--textColor);
    height: 80px;
    width: 5vw;
    clip-path: circle();
    color: var(--themeBgColor);
    font-size: xx-large;
    transition: all .2s linear;
    border: none;
}

.slideSwitch:disabled {
    opacity: .6;
}

#slide-switch-left {
    position: absolute;
    left: 7.5vw;
}

#slide-switch-left:hover {
    background-color: var(--themeColor);
    
}
#slide-switch-right {
    position: absolute;
    right: 7.5vw;
}
#slide-switch-right:hover {
    background-color: var(--themeColor);
}